@using static DriverSchoolApp.Constants.Contacts


<!-- Edit google location, Edit eamil address -->


<!-- Contact Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Контакти</h6>
    </div>
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
            <div class="position-relative h-100">
                <iframe class="position-relative w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3495.861805115262!2d22.966387559113357!3d42.54132636430345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aab78b9c564fef%3A0x4077cb251ddc4514!2z0JDQktCi0J7QqNCa0J7Qm9CQICLQn9CV0KLQryDQktCS0KEi!5e0!3m2!1sbg!2sbg!4v1695546232729!5m2!1sbg!2sbg"
                        frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <h6 class="text-primary text-uppercase mb-2">СВЪРЖЕТЕ СЕ С НАС</h6>
            <h4 class="display-6 mb-4">Ако имате някакви въпроси, моля, свържете се с нас</h4>
          
            <h5 class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@Address</h5>
            <h5 class="mb-2"><i class="fa fa-phone-alt me-3"></i>@PhoneNumber</h5>
            <h5 class="mb-2"><i class="fa fa-phone-alt me-3"></i>@PhoneNumber2</h5>
            <h5 class="mb-2"><i class="fa fa-user-tie me-3"></i>@OwnerName</h5>


        </div>
    </div>
</div>

<!-- Contact End -->