<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.5s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Въпроси</h6>
        <h1 class="display-6 mb-4">Често задавани въпроси</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
            <div class="owl-carousel testimonial-carousel">

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Кога мога да се започна шофьорски курс за „В“ категория?</h3>
                    </div>
                    <p class="fs-4">
                        За да започнете шофьорски курс за „В“ категория, трябва да имате навършени 17 години и 9 месеца.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Мога ли да се запиша на шофьорски курс за „В“ категория в гр. Перник, ако постоянният ми адрес по лична карта не е в гр.Перник?</h3>
                    </div>
                    <p class="fs-4">
                        Да, може да се запишете на шофьорски курс за „В“ категория в гр. Перник, без значение от постоянният Ви адрес по лична карта, стига той да е в рамките на Р.България.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Може ли чужд гражданин да се запише и да започне шофьорски курс за „В“ категория?</h3>
                    </div>
                    <p class="fs-4">
                        Да, може като е необходими да представи документ за временно пребиваване в Р.България, в което да е вписан неговия ЛНЧ, както и преведена и легализирана диплома минимум за основно образование.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Може ли курсът да се плати на вноски?</h3>
                    </div>
                    <p class="fs-4">
                        Да, може да бъде платен на 2 или 3 вноски, както е удобно на курсиста. Първата вноска трябва да бъде направена при записването за курса, втората вноска при започване на курса и оставаща вноска преди приключване на обучението.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Може ли да се кормува събота и неделя?</h3>
                    </div>
                    <p class="fs-4">
                        Да. Графика за кормуване се прави в зависимост от желанието и възможностите на курсистите, съобразени със свободните часове на инструкторите. По наредба всеки инструктор трябва да почива минимум един ден в седмицата.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Може ли да се кормува събота и неделя?</h3>
                    </div>
                    <p class="fs-4">
                        Да.Графика за кормуване се прави в зависимост от желанието и възможностите на курсистите, съобразени със свободните часове на инструкторите. По наредба всеки инструктор трябва да почива минимум един ден в седмицата.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какво включва цената на курса?</h3>
                    </div>
                    <p class="fs-4">
                        В цената на курса влиза цялото обучението по Наредба № 37 на МТ – 40 часа теоретично обучение и 31 кормилни часа.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какво включва теоретичното обучение?</h3>
                    </div>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>правоспособен преподавател по теория</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>теоретична зала за обучение</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>мултимедия, проектор, екран, учебни материали</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>техническа поддръжка</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>административен секретар</p>

                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какво включва практическото обучение?</h3>
                    </div>
                    <p class="fs-4">

                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>правоспособен преподавател по практическо обучение</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>лицензиран учебен автомобил оборудван с допълнителни педали</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>гориво за автомобила за всички учебни часове</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>автосервизна поддръжка на автомобила</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>автомивка – ежедневно почистване</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>застраховка Гражданска отговорност</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>застраховка на местата в автомобила</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>застраховка Каско</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>полигон</p>
                    <hr class="w-35 mx-auto">
                </div>


                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Кога мога да се ява на практически изпит пред ИА „АА“?</h3>
                    </div>
                    <p class="fs-4">
                        – Можете да се явите на практически изпит след навършване на 18 годишна възраст.
                        да бъде направена при записването за курса, втората вноска при започване на курса и оставаща вноска преди приключване на обучението.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какви документи са ми необходими за да се явя на изпит пред ИА „АА“?</h3>
                    </div>
                    <p class="fs-4">
                        За изпит пред ИА „АА“ трябва да носите:
                        – лична карта, която е валидна към датата на изпита;
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какво да правя след като положа успешно изпитите пред ИА „АА“?</h3>
                    </div>
                    <p class="fs-4">
                        Три работни дни след успешното полагане на изпита и след преминат курс към БЧК за оказване на първа помощ на пострадали при ПТП, може да подадете документи за издаване на Свидетелство за управление на моторно превозно средство
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Кога трябва да премина курс към БЧК за оказване на първа помощ на пострадали при ПТП</h3>
                    </div>
                    <p class="fs-4">
                        Курсът може да се премине по време или след приключване на шофьорския курс.
                        Курсовете към БЧК се провеждат еднократно (един ден).
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Какви документи са ми необходими за издаване на Свидетелство за управление на моторно превозно средство от КАТ</h3>
                    </div>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>документ за самоличност</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>документ за платена такса</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>медицинско удостоверение за „В“ категория</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>удостоверение за завършен курс за долекарска помощ от БЧК</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>видетелство за завършено минимум основно образование (оригинал и копие)</p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>
                            Какво се случва, ако теоретичният ми изпит пред ИА „АА“ е неуспешен?
                        </h3>
                    </div>
                    <p class="fs-4">
                        Ако полагането на теоретичен изпит е неуспешно, Вие можете да се явите отново, след повторно заплащане на таксата за изпита в рамките на 6 месеца
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>ККакво се случва, ако практическият ми изпит пред ИА „АА“ е неуспешен?</h3>
                    </div>
                    <p class="fs-4">
                        По нормативна уредба, Вие трябва да преминете допълнително минимум 4 учебни часа по управление на автомобил, преди да получите правото да положите изпита отново, като отново се заплаща изпитната такса.
                    </p>
                    <hr class="w-35 mx-auto">
                </div>

                <div class="testimonial-item text-center">
                    <div class="position-relative mb-5">
                        <h3>Колко пъти мога да се явявам на изпити пред ИА „АА“?</h3>
                    </div>
                    <p class="fs-4">
                        Няма ограничение в броя изпити, на които можете да се явите.

                    </p>
                    <hr class="w-35 mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>