<!-- Features Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Ние обучаваме и формираме отлично подготвени бъдещи шофьори</h6>
    </div>
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="text-primary text-uppercase mb-2">Опреснителни часове</h4>
           
            <div class="col-lg wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">
                        за курса
                    </h6>
                    <h1 class="display-6 mb-4">Какво предлага обучението</h1>

                    <h6 class="mb-4"> <i class="fa fa-check text-primary me-2"></i>Ако имате шофьорска книжка, но не се чувствате готови да излезете сами на пътя, ви предлагаме опреснителни часове по кормуване</h6>
                    <h6 class="mb-4"> <i class="fa fa-check text-primary me-2"></i>Продължителността на едно кормуване е 80 мин. (2х40) автомобил с ръчни скорости (Фолксваген Пасат), (Ауди А4) и  автомобил с автоматични скорости (БМВ Х5).</h6>
                    <h6 class="mb-4"> <i class="fa fa-check text-primary me-2"></i>Ако вече сте започнали курса и не сте доволни от обучението, инструктура, или автомобила, имате право да смените учебния център и да продължите в друг учебен център.</h6>

                </div>
            </div>
        </div>

        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                <img class="img-fluid" src="~/img/Courses/Category-Refresh.jpg" alt="">
                <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="~/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
            </div>
        </div>
    </div>
</div>